<li class="suggestion" data-index="{index}" data-id="{id}" style="opacity: 0; top: -20px;">
    <div class="like"></div>
    <div class="dislike"></div>

    <div class="background" style="background-image: url('{image}')"></div>

    <div class="detail">
        <div class="detail-inner">
            <div class="title">{title}</div>
            <div class="description">{description}</div>
            <div class="price">vanaf €{price} p.p</div>
            <div><a href="#" class="view">bekijk op Trivago</a></div>
        </div>

        <div class="separator"></div>

        <ul id="reviews" data-index="{index}">
            <li class="review">
                <h2 class="name">Joyce Huijzer</h2>
                <p class="comment">Mooi hotel maar erg druk in het hoogseizoen.</p>
                <span class="date">1 dag</span>
            </li>
            <li class="review">
                <h2 class="name">Eric de Vries</h2>
                <p class="comment">Goede service, volgend jaar zeker terug!</p>
                <span class="date">4 dagen</span>
            </li>
            <li class="review">
                <h2 class="name">Sonja van Beek</h2>
                <p class="comment">Leuke locatie middenin de stad.</p>
                <span class="date">1 week</span>
            </li>
            <li class="review">
                <h2 class="name">Danny Pothuizen</h2>
                <p class="comment">Heerlijk kunnen ontspannen. Absuluut een aanrader.</p>
                <span class="date">3 weken</span>
            </li>
            <li class="review">
                <h2 class="name">Lars van der Velde</h2>
                <p class="comment">Niet heel bijzonder.</p>
                <span class="date">4 weken</span>
            </li>
            <li class="review">
                <h2 class="name">Ronald Boer</h2>
                <p class="comment">Alles is makkelijk bereikbaar in de stad.</p>
                <span class="date">1 maand</span>
            </li>
        </ul>
        <button class="btn btn-white more-reviews" data-review-count="0" data-index="{index}">bekijk nog twee reacties</button>
    </div>
</li>
